html {
    margin:0 auto;
    width: 100%;
    max-width: 736px;
    text-align: center;
}
body {
    padding: 0 12px;
}
h1 {
    color: #796bae;
}
h1 span {
    display: inline-block;
    font-size: 80%;
}
h2 {
    margin-top: 2em;
}
p, ul, h3, div{
    text-align: left;
}
#nav ul,
#nav li {
    text-align: center;
} 
#nav li {
    list-style:none;
    display: inline-block;	
    width: 35%;
    margin: 0.5em;
    padding: 0.7em 0.5em;
    border: solid 1px #ccc;
    font-size: 110%;
    border-radius:5px;		
    color: #ccc;		
}

#nav a {
    text-decoration: none;
    color: #796bae;
    font-weight: bold;
} 
h3 {
    margin: 0; 
    padding: 0;
}
.legend {
    padding-left: 0 ;
}

.legend li {
    list-style:none;
    display: inline-block;
    padding-right: 1em;
    padding-bottom: 0.5em;
}

.legend li img {
    vertical-align:middle;	
    margin-right: 0.2em;			
}

@media screen and (min-width: 736px) {
    h1 img {
	width: 200px;
	height: 200px;
    }
    #nav li {
	width: 25%;
    }
}

@media screen and (max-width: 736px) {
    h1 {
	color: #796bae;
	font-size: 150%
    }
    h1 span {
	font-size: 50%;
    }
}
